.clear {
	clear: both;
}

html, body {
	background: #f3f3f3;
	font-family: 'Lato', helvetica, arial, sans-serif;
	font-size: 16px;
	color: #222;
}



.mainDetails {
	/*padding: var(--top-padding) var(--side-padding);*/
	/*border-bottom: 2px solid var(--accent-color);*/
	/*background: #ededed;*/
}

#contactDetails {
	float: left;
	/*margin-left: 30px;*/
}

.flex-container {
	display: flex;
	flex-direction:row;
}

#name h1 {
	font-size: 2.5em;
	font-weight: 700;
	font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
	margin-bottom: -6px;
}

#name h2 {
	font-size: 2em;
	margin-left: 2px;
	font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
}


#headshot {
	width: 12.5%;
	float: left;
	margin-right: 30px;
}

#headshot img {
	width: 100%;
	height: auto;
	border-radius: 25px;
}

#name {
	float: left;
	display: inline-block;
}



#contactDetails ul {
	list-style-type: none;
	font-size: 0.9em;
}

#contactDetails ul li {
	margin-bottom: 3px;
}
